#目录正常写 dir/ 
#.filename 为file 有的目录也带点 /区分.git/ 
#dir/filename 过滤单个目录
#!取反

###保留目录
!**/src/main/**
!**/src/test/**


###File
HELP.md
mvnw

###Dir
/.git/
/target/
/.mvn/

###IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
*.mvnw*


###STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


###NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.mvn/

### VS Code ###
.vscode/
.gitattributes
.gitattributes
